body{
    background-color: #060b18;
    color: #e6edf3
}
.container {
    display: flex;
    flex-direction: column;
    padding:8px;
    gap:32px;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap:32px;
    }
}
.sidebar{
    padding-inline: 24px;
    border:1px solid grey;
}
img{
    max-width: 100%;
    height:auto;
    display:block;
    border-radius: 20%;
}
a{
    color:white;
}
main{
    border: 1px solid grey;
    padding-inline:24px;
}
.aboutme-line, .projects-line, .history-line{
    height:2px;
    background-color: grey;
}