body {
    background-color: #060b18;
    color: #e6edf3
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 2rem;

}

@media (min-width: 48rem) {
    .container {
        display: grid;
        grid-template-columns: 16rem 1fr;
        gap: 2rem;
        max-width: 72rem;
        margin-inline:auto;
        padding-inline: 2rem;
        padding-top: 4rem;
        padding-bottom: 0.5rem;
    }
}
.sidebar-info{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20%;
    margin-top: 0;
}
.course-box{
    border:1px solid #1c2a4a;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.course-head{
    font-size: 1.2rem;
}
.course{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.name,

.list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.list li {
    margin-bottom: 0.75rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    width: 1.125rem;
    height: 1.125rem;
    color: #8e9aaf;
    flex-shrink: 0;
}

a {
    color: white;
}

main {
    border: 1px solid grey;
    padding-inline: 24px;
}

.main-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.aboutme-line,
.projects-line,
.history-line {
    height: 2px;
    background-color: grey;
    margin-top: 1rem;
    margin-bottom:1rem
}

.fluxo-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.0rem;
    max-width: 60ch;
}

.fluxo-item::after {
    content: "↓";
    font-size: 2rem;
    color: #8e9aaf;
}